.d-md-none {
  display: none;
}

.d-md-block {
  display: block;
}

.d-md-flex {
  display: flex;
}

.d-md-inline {
  display: inline;
}

.d-md-inline-block {
  display: inline-block;
}

.flex-md-row {
  flex-direction: row;
}

.flex-md-column {
  flex-direction: column;
}

.flex-md-wrap {
  flex-wrap: wrap;
}

.flex-md-nowrap {
  flex-wrap: nowrap;
}

.justify-md-center {
  justify-content: center;
}

.justify-md-start {
  justify-content: start;
}

.justify-md-space-between {
  justify-content: space-between;
}

.justify-md-end {
  justify-content: end;
}

.justify-md-space-around {
  justify-content: space-around;
}

.justify-md-space-evenly {
  justify-content: space-evenly;
}

.justify-md-flex-start {
  justify-content: flex-start;
}

.justify-md-flex-end {
  justify-content: flex-end;
}

.align-md-center {
  align-items: center;
}

.align-md-start {
  align-items: start;
}

.align-md-flex-start {
  align-items: flex-start;
}

.align-md-end {
  align-items: end;
}

.align-md-flex-end {
  align-items: flex-end;
}

.align-md-stretch {
  align-items: stretch;
}

.align-self-md-center {
  align-self: center;
}

.align-self-md-start {
  align-self: start;
}

.align-self-md-flex-start {
  align-self: flex-start;
}

.align-self-md-end {
  align-self: end;
}

.align-self-md-flex-end {
  align-self: flex-end;
}

.align-self-md-stretch {
  align-self: stretch;
}

.col-md-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.offset-md-1 {
  margin-left: 8.333333%;
}

.order-md-1 {
  order: 1;
}

.col-md-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.offset-md-2 {
  margin-left: 16.666667%;
}

.order-md-2 {
  order: 2;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.offset-md-3 {
  margin-left: 25%;
}

.order-md-3 {
  order: 3;
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.offset-md-4 {
  margin-left: 33.333333%;
}

.order-md-4 {
  order: 4;
}

.col-md-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.offset-md-5 {
  margin-left: 41.666667%;
}

.order-md-5 {
  order: 5;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.offset-md-6 {
  margin-left: 50%;
}

.order-md-6 {
  order: 6;
}

.col-md-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.offset-md-7 {
  margin-left: 58.333333%;
}

.order-md-7 {
  order: 7;
}

.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.offset-md-8 {
  margin-left: 66.666667%;
}

.order-md-8 {
  order: 8;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.offset-md-9 {
  margin-left: 75%;
}

.order-md-9 {
  order: 9;
}

.col-md-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.offset-md-10 {
  margin-left: 83.333333%;
}

.order-md-10 {
  order: 10;
}

.col-md-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.offset-md-11 {
  margin-left: 91.666667%;
}

.order-md-11 {
  order: 11;
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-md-12 {
  margin-left: 100%;
}

.order-md-12 {
  order: 12;
}
